<app-page-section>
    <h3 class="fw-bold text-light">Notice Program</h3>
    <p class="fw-normal">Home / Notice Program</p>
</app-page-section>


<div class="container">
    <div class="row">
        <div class="col-12 p-5">
            <h3 class="fw-bold py-3">!! सावधान !!</h3>
            <p>सभी अभ्यर्थियों को सूचित किया जाता है कि कुछ कंपनियां भारतीय एविएशन सर्विसेज (बी ए एस ) से मिलता जुलता नाम, वेबसाइट, होमपेज व सामग्रियों का प्रयोग कर रही है | कृपया आप उससे दूर रहें अन्यथा भारतीय एविएशन सर्विसेस (बी ए एस ) की कोई जिम्मेदारी नहीं होगी | पूरे भारत में भारतीय एविएशन सर्विसेज (बी ए एस ) की कोई भी ब्रांच नहीं है | भारतीय एविएशन सर्विसेज (बी ए एस ) का रजिस्टर्ड ऑफिस इस पते पर है :-</p>
            <b>पता: प्लॉट नंबर 18,  टॉप फ्लोर, सेवक पार्क ग्राम सभा द्वारका मोड़ मेट्रो पिलर नंबर 773 के पास नई दिल्ली 110058</b>
            <div class="contact">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a> aditya@gmial.com</a>
            </div>
            <div class="contact">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a> aditya@gmial.com</a>
            </div>
            <div class="contact">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <a> aditya@gmial.com</a>
            </div>
            <div class="contact">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <a> aditya@gmial.com</a>
            </div>
        </div>

        <hr>

        <div class="col-12 p-5">
            <h3 class="fw-bold py-3">!! CAUTION !!</h3>
            <p>All the candidates are informed that some companies are using name, website, homepage and materials similar to IndiGoAvi Aviation Services (BAS). Please stay away from them, otherwise IndiGoAvi Aviation Services (BAS) will not have any responsibility. IndiGoAvi Aviation Services (BAS) does not have any branch in all over India. The registered office of IndiGoAvi Aviation Services (BAS) is at:-</p>
            <b>Address:- Plot No 18, Top Floor, Sevak Park, Near Gram Sabha Dwarka Mor Metro Pillar No 773. New Delhi 110058</b>
            <div class="contact">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a> aditya@gmial.com</a>
            </div>
            <div class="contact">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a> aditya@gmial.com</a>
            </div>
            <div class="contact">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <a> aditya@gmial.com</a>
            </div>
            <div class="contact">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <a> aditya@gmial.com</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-primary abt-banner1" >
        </div>
    </div>
</div>

