<app-page-section>
    <h3 class="fw-bold text-light">Contact us</h3>
    <p class="fw-normal">Home / Contact us</p>
</app-page-section>

<div class="container">
    <div class="row p-5">
        <div class="col-md-6">
            <img src="../../assets/support.png" alt="" class="w-100">
        </div>
        <div class="col-md-6 p-4">
            <form class="">
                <div class="row pt-3">
                    <h3 class="fw-bold py-3">Contact Us</h3>
                    <div class="col">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" id="firstName">
                    </div>
                    <div class="col">
                        <label for="LastName">Last Name</label>
                        <input type="text" class="form-control" placeholder="First Name" id="LastName">
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col">
                        <label for="contactView">Contact</label>
                        <input type="text" class="form-control" placeholder="Enter contact" id="contactView">
                    </div>
                    <div class="col">
                        <label for="emailView">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email" id="emailView">
                    </div>
                </div>
                <div class="row pt-3">
                  <div class="col position-relative">
                    <label for="validationTooltip04" class="form-label">Job Application</label>
                    <select class="form-select" id="validationTooltip04" required>
                        <option selected disabled value="">Choose...</option>
                        <option>Job 1</option>
                        <option>Job 2</option>
                        <option>Job 3</option>
                        <option>Job 4</option>
                        <option>Job 5</option>
                        <option>Job 6</option>
                    </select>
                  </div>
                </div> 
                <button class="btn btn-success my-3 w-100">Contact us</button>            
            </form>
        </div>
    </div>
</div>